@model Modelo.Models.Estante

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
<div class="ex-estante-div">
    <h1 class="title">Deletar</h1>
    <br/>
    <p>Tem certeza que deseja deletar a estante ?</p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input class="ex-estante-button" type="submit" value="Confirmar"/> |
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    }
</div>
</main>
