
/* ------------------------ ESTANTES.HTML----------------------------------- */

body{
    min-height: 300px;
}

main#acervo {
    width: 50em;
    max-width: 100%;
    margin: 0 auto;
    min-height: 300px;
}

.estantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(images/prateleira.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position-y: -110px;
    border-radius: 40px;
    padding: 0 8em 2em;
    margin: -0.5em 0 -2em;
}

section {
    position: relative;
    text-align: center;
    margin: 120px 0;
}

section .title {
     position: relative;
     background-color: #F0D530;
     border-radius: 50px;
     padding: 0.5em;
     width: 20%;
     margin: 2px;
    }

section img.denuncia {
     position: absolute;
     top: 0;
     right: 0;
}

section .estantes img {
     padding: 2em 0 3.6em;
     max-width: 20%;
}

section a {
     text-decoration: none;
}
.botao-create {
    position: relative;
    background-color: #F0D530;
    border-radius: 50px;
    padding: 0.5em;
    width: 20%;
    margin: 2px;
}


/* -------------------------ESTANTE.HTML CSS----------------------------- */

.estantelivros {
    background-image: url(images/estante.png);
}
