
/* ----------------------- DELETAR -------------------------------------*/

.ex-estante {
    background-color: #36013F;
    width: 45%;
    left: 25%;
    top: 50px;
    padding: 15px;
    border-radius: 25px;
    margin-top: 10em;
    margin-bottom: 30em;
}

.ex-estante-div {
    font-size: 10px;
}

.ex-estante-aviso {
    background-color: #F0D530;
    font-size: 10px;
}

.ex-estante-div img {
    margin-left: 40%;
}

.ex-estante-h1 {
    background-color: #F0D530;
    border-radius: 5px;
    padding: 0.5px;
    color: black;
    text-align: center;
}

.ex-estante-div p {
    border-radius: 5px;
    background-color: #F0D530;
    padding: 0.5em;
    color: black;
    margin: 20px;
    text-align: center;
}

.ex-estante-div spam {
    font-size: 20px;
}

.ex-estante-button {
    border-radius: 5px;
    background-color: #F0D530;
    padding: 0.5em;
    color: black;
    margin-left: 90%;
}


/* ---------------------------------------------------------------------*/


fieldset {
    margin: 12em auto;
    width: 389px;
    background-color: #631271;
    text-align: center;
    border: none;
    border-radius: 25px;
    font-weight: bold;
}

legend, input[type=submit] {
    padding: 0.3em 1em;
    background-color: #F0D530;
    border-radius: 5px;
}

legend {
    font-size: 30px;
}

fieldset input {
    margin: 0.6em;
    padding: 0.6em;
    padding-left: 0.8em;
    font-size: 15px;
    font-weight: bold;
    width: 261px;
    border: none;
}

fieldset div {
    margin: 1em;
}

fieldset a {
    font-size: 20px;
    text-decoration: none;
    color: #6B66FC;
    display: block;
    margin-bottom: 2em;
}

input[type=submit] {
    font-weight: bold;
    font-size: 20px;
    padding-left: 3em;
    padding-right: 3em;
    width: initial;
}



/* ------------------------ ESTANTES.HTML----------------------------------- */

main {
    width: 50em;
    max-width: 100%;
    margin: 0 auto;
}

.estantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image: url(images/prateleira.png);
    background-repeat: repeat-y;
    background-size: 100% auto;
    background-position-y: -110px;
    border-radius: 40px;
    padding: 0 8em 2em;
    margin: -0.5em 0 -2em;
}

section {
    position: relative;
    text-align: center;
    margin: 120px 0;
}

section .title {
    position: relative;
    background-color: #F0D530;
    border-radius: 50px;
    padding: 0.5em;
    width: 30%;
    margin: 0 auto;
}

section img.denuncia {
    position: absolute;
    top: 0;
    right: 0;
}

section .estantes img {
    padding: 2em 0 3.6em;
    max-width: 20%;
}

section a {
    text-decoration: none;
}


/* -------------------------ESTANTE.HTML CSS----------------------------- */

.estantelivros {
    background-image: url(images/estante.png);
    width: 872px;
    height: 924px;
}

.estantes {
    border-radius: 35px;
}

.tit {
    border-radius: 50px;
    background-color: #36013F;
    width: 210px;
    height: 40%;
    color: white;
    text-align: center;
    font-size: 20px;
    margin-left: 35%;
}

.estante-button-ex {
    border-radius: 5px;
    width: 154px;
    height: 39.41px;
    background-color: #F0D530;
    padding: 0.5em;
    color: black;
    margin-right: 90%;
    font-style: bold;
    font-size: 13px;
    margin-bottom: 0%;
}

.estante-button-ed {
    border-radius: 5px;
    width: 154px;
    height: 39.41px;
    background-color: #F0D530;
    padding: 0.5em;
    color: black;
    margin-left: 90%;
    font-style: bold;
    font-size: 13px;
    margin-bottom: 0%;
}
/* -------------------------EDITAR.HTML CSS----------------------------- */



/* -------------------------FORMESTANTE.HTML CSS----------------------------- */
input[type=submit].formestante-button {
    border-radius: 5px;
    background-color: #F0D530;
    padding: 0.5em;
    color: black;
    margin-left: 85%;
    font-size: 12px;
}

.formestante-button {
    border-radius: 5px;
    background-color: #F0D530;
    padding: 0.5em;
    color: black;
    margin-left: 85%;
    font-size: 12px;
}

.formestante {
    background-color: #36013F;
    width: 50%;
    left: 25%;
    top: 50px;
    padding: 15px;
    border-radius: 25px;
    margin-top: 10em;
    margin-bottom: 15em;
}

.formestante input[type=text] {
    width: 277px;
    height: 42px;
}

