@model Modelo.Models.Livro

@{
    ViewBag.Title = "Deletar livro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="ex-estante-div">
        <h1>Deletar</h1>
        <br />
        <p>Tem certeza que deseja deletar a estante ?</p>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default"/> |
                <a href="@Url.Action("Details", "Estantes", new { id = Model.EstanteID})">Voltar para a lista</a>
            </div>
        }
    </div>
</main>
