@using MyShelf.Infraestrutura
@model IEnumerable<Modelo.Models.Livro>

@{
    ViewBag.Title = "Livros - Moderador";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>

    @foreach (var item in Model)
    {
        <section class="estantes">
            <div class="title"> @Html.DisplayFor(modelItem => item.Nome) </div>
                <div>
                    <ul>       
                        <li>@Html.ActionLink("Ver mais...", "Details", new { id = item.EstanteID })</li>
                    </ul>
                </div>
        </section>
    }

    <p>
        <a href="@Url.Action("Index", "Home", new { Area = "Models" })"> Voltar para a Home</a>
    </p>
</main>