@model IEnumerable<MyShelf.Models.Estante>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--------------------------------------------------------------------------------- -->
<main id="acervo">
    <section>
        <div class="title">Estante X</div>
        <a href="javascript:void()"><img src="icones/denuncia2 8.png" alt="denunciar" class="denuncia"></a>

        <div class="estantes">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
        </div>

        <a href="@Url.Action(actionName:"Details", controllerName:"Estantes")"> Ver mais...</a>
    </section>

    <section>
        <div class="title">Estante X</div>
        <a href="javascript:void()"><img src="icones/denuncia2 8.png" alt="denunciar" class="denuncia"></a>

        <div class="estantes">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
        </div>

        <a href="@Url.Action(actionName:"Details", controllerName:"Estantes")"> Ver mais...</a>
    </section>

    <section>
        <div class="title">Estante X</div>
        <a href="javascript:void()"><img src="icones/denuncia2 8.png" alt="denunciar" class="denuncia"></a>

        <div class="estantes">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
            <img src="icones/livro.png" alt="livro">
        </div>

        <a href="@Url.Action(actionName:"Details", controllerName:"Estantes")"> Ver mais...</a>
    </section>
</main>